* {
  margin: 0;
  padding: ;
  font-family: "Share Tech Mono", monospace;
}

body {
  overflow: hidden;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Share+Tech+Mono&display=swap");
:root {
  --text-orange: rgb(255, 136, 0);
  --text-purple: rgb(161, 3, 148);
  --text-green: rgb(25, 175, 32);
  --main-text-color: var(--text-green);

  --height: 400px;
  --width: 700px;

  --mob-text: 1rem;
}

@media screen and (max-width: 800px) {
  :root {
    --height: 250px;
    --width: 70%;
  }
}

#vanta-net {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mac-window {
  height: var(--height);
  width: var(--width);
  background: rgba(0, 0, 0, 0.734);
  box-shadow: 1px 1px 20px 0.1px var(--main-text-color);
  border-radius: 0.75rem;
  transform: scale(1.2);
}

.mac-header {
  background: rgb(37, 37, 37);
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  /* border-radius: 0.75rem; */
}

.mac-icons {
  width: 25%;
  /* height: 30px; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.text-red {
  color: red;
}

.mac-icon {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: block;
  margin: 0.5rem 5px;
  cursor: pointer;
}

.mac-icon:hover {
  transform: scale(1.1);
}

.purple-btn {
  background: var(--text-purple);
}
.orange-btn {
  background: var(--text-orange);
}
.green-btn {
  background: var(--text-green);
}

.terminal {
  color: var(--main-text-color);
  font-size: 2rem;
  padding: 1rem 1rem;
  /* font-family: "Roboto", sans-serif; */
}

.theme-btns {
  position: fixed;
  left: 0;
  top: 50%;
  display: flex;
  flex-direction: column;
  z-index: 2;
  transform: translate(0, -50%);
  /* background: black; */
}
.theme-circ {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  z-index: 3;
  margin: 1rem 2rem;
  cursor: pointer;
}

.theme-circ:hover {
  transition: 0.3s;
  transform: scale(1.3);
}

#orange {
  background: var(--text-orange);
  box-shadow: 1px 1px 10px 1px var(--text-orange);
}
#purple {
  background: var(--text-purple);
  box-shadow: 1px 1px 10px 1px var(--text-purple);
}

#green {
  background: var(--text-green);
  box-shadow: 1px 1px 10px 1px var(--text-green);
}

@media screen and (max-width: 800px) {
  .mac-icons {
    width: 35%;
  }

  .mac-icon {
    height: 15px;
    width: 15px;
  }

  .terminal {
    font-size: var(--mob-text);
  }
}

/* Projects */

.projects {
  height: 100vh;
  padding: 3rem 0;
}

.proj-heading {
  font-size: 3.5rem;
  font-weight: 900px !important;
}

.projs {
  margin: 13rem 0;
}
.proj-box-1 {
  background: url("./projects/ubc.png");
}
.proj-box-2 {
  background: url("./projects/excelsia.png");
}

.proj-box {
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 80%;
  border-radius: 0.4rem;
  margin: auto;
}

@media screen and (max-width: 800px) {
  .proj-heading {
    font-size: 2.5rem;
  }
}
