* {
  margin: 0;
  padding: ;
  font-family: "Share Tech Mono", monospace;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Share+Tech+Mono&display=swap");
:root {
  --text-orange: rgb(255, 136, 0);
  --text-purple: rgb(161, 3, 148);
  --text-green: rgb(25, 175, 32);
  --main-text-color: var(--text-green);

  --height: 400px;
  --width: 700px;

  --mob-text: 1rem;
}

@media screen and (max-width: 800px) {
  :root {
    --height: 200px;
    --width: 70%;
  }
}

#vanta-net {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mac-window {
  height: var(--height);
  width: var(--width);
  background: rgba(0, 0, 0, 0.734);
  box-shadow: 1px 1px 20px 0.1px var(--main-text-color);
  border-radius: 0.75rem;
  transform: scale(1.2);
}

.mac-header {
  background: rgb(37, 37, 37);
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  /* border-radius: 0.75rem; */
}

.mac-icons {
  width: 15%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.mac-icon {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: block;
  box-shadow: 1px 1px 10px 1px gray;
  margin: 0 5px;
}

.red-btn {
  background: red;
}
.yellow-btn {
  background: rgb(255, 230, 0);
}
.green-btn {
  background: green;
}

.terminal {
  color: var(--main-text-color);
  font-size: 2rem;
  padding: 1rem 1rem;
  /* font-family: "Roboto", sans-serif; */
}

@media screen and (max-width: 800px) {
  .mac-icons {
    width: 35%;
  }

  .terminal {
    font-size: var(--mob-text);
  }
}

/* Projects */

.projects {
  height: 100vh;
  padding: 3rem 0;
}

.proj-heading {
  font-size: 3.5rem;
  font-weight: 900px !important;
}

.projs {
  margin: 13rem 0;
}
.proj-box-1 {
  background: url("./projects/ubc.png");
}
.proj-box-2 {
  background: url("./projects/excelsia.png");
}

.proj-box {
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 80%;
  border-radius: 0.4rem;
  margin: auto;
}

@media screen and (max-width: 800px) {
  .proj-heading {
    font-size: 2.5rem;
  }
}
